* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto new lines */
}

.column {
  flex: 25%; /* Creates four equal columns (100% / 4 = 25%) */
  max-width: 25%;;
}

.column img {
  vertical-align: middle;
  width: 100%; /* Image takes the full width of its column */
  height: auto; /* Maintains aspect ratio */
}

/* Responsive adjustments for different screen sizes */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%; /* Becomes a two-column layout */
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%; /* Becomes a single-column layout, stacking vertically */
  }
}

.ballet {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-iso-regular {
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
}

.h1 {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #ffffff;
    font-family: 'Rubik iso';
}

.h1 h1{
    font-size: 80px;
    color: #ff0011;
    font-family: 'rubik iso';
}

.h1 h3 {

    font-size: 25px;
    color: #ffffff;
    font-family: 'rubik iso';
}

.h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    color: #00d0ff;
    font-family: 'impact';
}

.h2 h2 {
    font-size: 25px;
    top: 130%;
    color: #00d0ff;
    font-family: 'Rubik iso';
}

.h3 {
    position: absolute;
    top: 120%;
    left: 21%;
    font-size: 30px;
    color: #ff00c8;
    font-family: 'Ballet';
}


.linky {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    color: #00ff37;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.doto-regular {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.painter {
    position: absolute;
    top: 255%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    font-size: 25px;
    font-family: "Doto", sans-serif;
    color: #ff00c8;
}

.iframething {
    position: absolute;
    top: 325%;
    left: 58%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}